# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Images generated
*.png

# Audio files
*.wav

# Image files
*.bmp

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
